<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBB0RA5XieYpS9AbuwI3uh2rWXy1CwSoUY</string>
	<key>GCM_SENDER_ID</key>
	<string>248213702035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uricsc305.studentmarket</string>
	<key>PROJECT_ID</key>
	<string>student-market-q1ib93</string>
	<key>STORAGE_BUCKET</key>
	<string>student-market-q1ib93.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248213702035:ios:2ff8933a8ef940a0b85466</string>
</dict>
</plist>